@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models

	<!-- MENU
    ================================================== -->

<nav id="menu-wrap" class="menu-back cbp-af-header">
	<div class="container">
		<div class="twelve columns">
			<div class="logo"></div>
			<ul class="slimmenu">
				<li>
					<a href="#home">intro</a>
				</li>
				<li>
					<a href="#about">about & more</a>
				</li>
				<li>
					<a href="#work">portfolio</a>
				</li>
				<li>
					<a href="#services">we create</a>
				</li>
				<li>
					<a href="#blog">journal</a>
				</li>
				<li>
					<a href="#contact">hello</a>
				</li>
				<li>
					<a href="http://www.ivang-design.com/talos/index.html">demos</a>
				</li>
			</ul>
		</div>
	</div>
</nav>