@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models

@{
         var content = (ContentModels.HomeSlider)Model.Content;
    
        var ContactsHeaderImg = content.Value<MediaWithCrops>("sliderImage");
}
    
  			<div class="item background-home-image-1" style="background-image:url(@ContactsHeaderImg.MediaUrl())">
				<div class="home-mask"></div>
				<div class="home-text">
					<div class="container fade-elements">
						<div class="twelve columns">
							<h1>@content.Value("sliderText1")<br>@content.Value("sliderText2")</h1>
						</div>
					</div>
				</div>	
			</div>
