@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models

@{
          var content = (ContentModels.StatisticsList)Model.Content;
	                   
}



			<div class="three columns">
				<div class="counter-wrap">
					<p><span class="counter-numb">@content.Value("counter")</span></p>
					<h6>@content.Value("typeName")</h6>
				</div>
			</div>
